In [1]:
! pip install opendatasets

Requirement already satisfied: opendatasets in c:\users\hp\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\hp\anaconda3\lib\site-packages (from opendatasets) (4.64.1)
Requirement already satisfied: click in c:\users\hp\anaconda3\lib\site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: kaggle in c:\users\hp\anaconda3\lib\site-packages (from opendatasets) (1.5.13)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: python-dateutil in c:\users\hp\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.28.1)
Requirement already satisfied: urllib3 in c:\users\hp\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.26.14)
Requirement already satisfied: six>=1.10 in c:\users\hp\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: python-slugify in c:\users\hp\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\hp\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\hp\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)

In [2]:
import opendatasets as od

In [3]:
dataset = 'https://www.kaggle.com/datasets/iammustafatz/diabetes-prediction-dataset'

In [4]:
od.download(dataset)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: siwanipandey
Your Kaggle Key: ········
Downloading diabetes-prediction-dataset.zip to .\diabetes-prediction-dataset

100%|███████████████████████████████████████████████████████████████████████████████| 734k/734k [00:11<00:00, 67.9kB/s]

In [5]:
import os

In [6]:
data_dir = '.\diabetes-prediction-dataset'

In [7]:
os.listdir(data_dir)

['diabetes_prediction_dataset.csv']

In [8]:
import pandas as pd

In [12]:
diabetes_df = pd.read_csv('diabetes_prediction_dataset.csv')
diabetes_df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0